@use "./introBanner" as i;
@use "../../../../../public/variables" as v;
$namespace: i.$namespace;
@mixin intro-xxl {
  @include i.intro-banner();
}
@mixin intro-xl {
  @include i.intro-banner(
    $container-padding: 2.25rem,
    $img-width: 18.23rem,
    $title-heading-font-size: 5rem,
    $sub-heading-font-size: 1.875rem,
    $download-btn-font-size: 1.25rem,
    $description-font-size: 1.25rem,
    $heading-spacing: 1.25rem,
    $content-spacing: 1.875rem
  );
}
@mixin intro-lg {
  @include i.intro-banner(
    $container-padding: 1.8rem,
    $img-width: 14.58rem,
    $title-heading-font-size: 4rem,
    $sub-heading-font-size: 1.5rem,
    $download-btn-font-size: 1rem,
    $description-font-size: 1rem,
    $heading-spacing: 1rem,
    $content-spacing: 1.5rem
  );
}
@mixin intro-md {
  @include i.intro-banner(
    $container-padding: 1.8rem,
    $img-width: 14.58rem,
    $title-heading-font-size: 3rem,
    $sub-heading-font-size: 1.5rem,
    $download-btn-font-size: 1rem,
    $description-font-size: 1rem,
    $heading-spacing: 1rem,
    $content-spacing: 1.5rem
  );
}
@mixin intro-sm {
  @include i.intro-banner(
    $container-padding: 1rem,
    $img-width: 100%,
    $title-heading-font-size: 3.5rem,
    $sub-heading-font-size: 1.5rem,
    $download-btn-font-size: 1rem,
    $description-font-size: 1rem,
    $heading-spacing: 1rem,
    $content-spacing: 1.5rem
  );
  ##{$namespace} {
    flex-direction: column;
  }
  .#{$namespace}-img-wrapper {
    max-width: 21.875rem;
  }
  .#{$namespace}-img-container {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  ##{$namespace} {
    & > * {
      padding-top: 1.75rem;
      padding-bottom: 1.75rem;
      &:first-child {
        padding-bottom: 0;
      }
    }
  }
  .#{$namespace}-content {
    align-items: center;
  }
  .#{$namespace}-title {
    & > h2 {
      & > * {
        padding-left: 0.25em;
      }
    }
    & > h3 {
      & > * {
        padding-left: 0.3em;
      }
    }
    & > h2,
    & > h3 {
      justify-content: center;
    }
  }
  .#{$namespace}-sub-content {
    align-items: center;
  }
  // @include intro-banner-spacing(12, 15, 15);
  // .#{$namespace}-content {
  //   padding: calc(#{v.$navbar-height}) 0;
  // }
}
@mixin intro-hover {
  .#{$namespace}-sub-content button {
    @include v.hover-action;
  }
}
