@use "./aboutMeBanner" as a;
@use "../../../../../../public/variables" as v;
$namespace: a.$namespace;

@mixin about-xxl {
  @include a.about-banner;
}
@mixin about-xl {
  @include a.about-banner(
    $img-width: 18.23rem,
    $container-heading-font-size: 4.8rem
  );
}
@mixin about-lg {
  @include a.about-banner(
    $img-width: 14.58rem,
    $container-top-padding: 3rem,
    $container-bottom-padding: 3.6rem,
    $container-horizontal-padding: 1.8rem,
    $container-heading-font-size: 4rem,
    $container-heading-vertical-spacing: 3.6rem,
    $text-content-font-size: 1.2rem,
    $text-content-first-char-font-size: 3.2rem,
    $text-content-left-padding: 3rem,
    $action-btns-padding-top: 3.6rem,
    $action-btns-font-size: 1.8rem
  );
}
@mixin about-md {
  @include a.about-banner(
    $img-width: 14.58rem,
    $container-top-padding: 2.7rem,
    $container-bottom-padding: 3rem,
    $container-horizontal-padding: 1.8rem,
    $container-heading-font-size: 3rem,
    $container-heading-vertical-spacing: 3rem,
    $text-content-font-size: 1rem,
    $text-content-first-char-font-size: 2.7rem,
    $text-content-left-padding: 3rem,
    $action-btns-padding-top: 2.5rem,
    $action-btns-font-size: 1.35rem
  );
}
@mixin about-sm {
  @include a.about-banner(
    // $img-width: calc(min(100%, 21.875rem)),
    $img-width: 100%,
    $container-top-padding: 2.25rem,
    $container-bottom-padding: 3.5rem,
    $container-horizontal-padding: 1rem,
    $container-heading-font-size: 3rem,
    $container-heading-vertical-spacing: 2.25rem,
    $text-content-font-size: 1.125rem,
    $text-content-first-char-font-size: 2.7rem,
    $text-content-left-padding: 0rem,
    $action-btns-padding-top: 2.5rem,
    $action-btns-font-size: 1.75rem
  );

  .#{$namespace}-media-content {
    align-self: center;
    margin-top: 2.5rem;
  }
  .#{$namespace}-action-btns {
    & > a {
      justify-content: center;
    }
  }
}
@mixin about-hover {
  .#{$namespace}-action-btns {
    & > a {
      @include v.hover-action;
    }
  }
}
