@use "../../../public/variables" as v;
$namespace: "footer";
##{$namespace} {
  display: flex;
  width: 100%;
  background-color: v.$darkest-black;
  color: v.$white;
  justify-content: center;
  padding: 2em 0;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
##{$namespace}-inner {
  max-width: 500px;
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 1em;
}
.#{$namespace}-rows {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 0;
}
.#{$namespace}-row-container {
  margin-bottom: 1.5em;
  font-size: 0.8em;
  display: flex;
  text-decoration: none;
  & > svg {
    width: 3em;
  }
  &:last-child {
    margin: 0;
    $width: 2.5em;
    & > svg {
      width: $width;
    }
  }
}
.#{$namespace}-row-container-inner {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.#{$namespace}-row-item {
  font-size: 1em;
  display: flex;
  align-items: flex-end;
  align-items: end;
  text-decoration: none;

  &:first-child {
    margin-left: 1.5em;
    margin-right: 1em;
  }

  span {
    display: flex;
    align-items: center;
    font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    &:first-child {
      font-size: 2.2em;
      font-weight: 600;
      color: v.$yellow;
      margin-right: 0.2em;
      svg {
        width: 0.6em;
        height: 0.6em;
        margin-right: 0.2em;
      }
    }
    &:last-child {
      font-weight: 400;
      color: v.$gray;
      margin-bottom: 0.4em;
    }
  }
}
##{$namespace}-bottom-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  $spacing: 1em;
  span {
    padding-top: $spacing;
  }
  span:first-child {
    position: relative;
    padding-top: calc(#{$spacing} + 0.2em);
    &:after {
      $line-width: 100%;
      position: absolute;
      top: -0.5px;
      left: calc((100% - #{$line-width}) / 2);
      width: $line-width;
      content: "";
      height: 1px;
      background-color: v.$light-black;
    }
  }
  a {
    text-decoration: none;
    color: v.$yellow;
  }
}
