@use "../../../../../public/variables" as v;
$namespace: "project-banner";
$wave-width: 100%;
##{$namespace} {
  position: relative;
  display: flex;
  min-height: 100vh;
  background-color: v.$dark-black;
  & > * {
    padding: v.$navbar-height 0;
  }
}
.#{$namespace}-wave {
  position: absolute;
  top: 0;
  right: 0;
  width: $wave-width;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  svg {
    background-color: v.$dark-black;
    fill: v.$dark-black;
    height: 100%;
  }
}
.#{$namespace}-carousel {
  display: flex;
  justify-content: center;
  position: relative;
  width: 55%;
  &::after {
    @include v.abs-pos-fill(0);
    left: unset;
    right: 0;
    width: $wave-width;
    background-color: v.$blue;
  }
}
.#{$namespace}-carousel-wrapper {
  $paddingLeft: 23%;
  $paddingRight: 8%;
  padding-left: $paddingLeft;
  padding-right: $paddingRight;
  width: 100% - $paddingLeft - $paddingRight;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.#{$namespace}-carousel-inner-wrapper {
  min-height: 20em;
  overflow: hidden;
  .swiper-pagination{
    height: auto;
  }
  .swiper-pagination-bullet{
    width: 1.5vw;
    height: 1.5vw;
    aspect-ratio: 1/1;
  }
  .swiper-pagination-bullet-active{
    background-color: v.$yellow !important;
  }
}
.#{$namespace}-slide-inner {
  display: flex;
  border-radius: 0.5vw;
  justify-content: center;
  background-color: gray;
  margin-bottom: 5vw;
  width: 100%;
  aspect-ratio: 4/3;
}

.#{$namespace}-text-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: v.$white;

  $unitless-size: 5.2;
  $font-size: calc(min(#{$unitless-size}vw, 5.5em));
  h2 {
    font-size: calc(#{$font-size} * 0.61);
    margin: 0;
    padding: 0;
    font-weight: 500;
    margin-bottom: calc(#{$font-size} / 2);
    .#{$namespace}-letter {
      opacity: 0;
    }
  }

  p {
    @keyframes element-appear {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    &.visible {
      opacity: 1;
      animation: 3s ease-in-out 0s element-appear;
    }
    opacity: 0;
    margin-top: calc(#{$font-size} / 2);
    font-size: calc(#{$font-size} * 0.28);
    line-height: calc(#{$font-size} / 1.7);
    .#{$namespace}-ani-container {
      position: relative;
      height: calc(#{$font-size} / 1.7);
      width: 100%;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: calc(#{$font-size} * -0.05);
        height: 100%;
        width: 1px;
        background: v.$white;
      }
    }
  }
  a {
    text-decoration: none;
    font-size: calc(#{$font-size} * 0.25);
    color: v.$blue;
    border: 1px solid v.$blue;
    border-radius: 0.2em;
    padding: calc(#{$font-size} * 0.28 / 3) calc(#{$font-size} * 0.28);
  }
}
