@use "./projectBanner" as p;
@use "../../../../../public/variables" as v;
@use "sass:math";
$namespace: p.$namespace;
@mixin project-spacing($font-size-unit, $link-size-unit: $font-size-unit) {
  .#{$namespace}-text-content {
    $unitless-size: $font-size-unit;
    $font-size: calc(min(#{$unitless-size}vw, 5.5em));

    h2 {
      font-size: calc(#{$font-size} * 0.61);
      margin-bottom: calc(#{$font-size} / 2);
    }
    p {
      margin-top: calc(#{$font-size} / 2);
      font-size: calc(#{$font-size} * 0.28);
      line-height: 1.623em;
    }
    $link-size: calc(min(#{$link-size-unit}vw, 5.5em));
    a {
      font-size: calc(#{$link-size} * 0.25);
      margin: calc(#{$link-size} / 2) 0;
      padding: calc(#{$link-size} * 0.3 / 3) calc(#{$link-size} * 0.3);
    }
  }
}
@mixin project-lg {
  @include project-spacing((8));
  ##{$namespace} {
    flex-direction: column;
  }
  .#{$namespace}-carousel {
    position: relative;
    width: 100%;
    min-height: calc(35vh - 7em);
  }
  .#{$namespace}-text-content {
    min-height: calc(65vh - 7em);
    width: 100%;
    flex-grow: 1;
  }
  .#{$namespace}-wave {
    svg {
      width: 100%;
      height: auto;
    }
  }
  .#{$namespace}-carousel-wrapper {
    $paddingLeft: 8%;
    $paddingRight: 8%;
    $paddingTop: 5em;
    padding-top: $paddingTop;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    min-height: 30em;
  }
  .#{$namespace}-carousel-inner-wrapper {
    .swiper-pagination-bullet {
      width: 1rem;
      height: 1rem;
    }
  }
  .#{$namespace}-slide-inner {
    display: flex;
    border-radius: 0.5vw;
    justify-content: center;
    background-color: gray;
    margin-bottom: 4.5em;
    width: 100%;
    //aspect-ratio: 4/3;
  }
}
@mixin project-md {
  @include project-spacing(12, 10);
  .#{$namespace}-carousel {
    position: relative;
    width: 100%;
    min-height: calc(20vh - 7em);
    padding: 0;
  }
}

@mixin project-sm {
  @include project-spacing($font-size-unit: 15, $link-size-unit: 15);
  ##{$namespace} {
    & > * {
      padding: math.div(v.$navbar-height, 2) 0;
    }
  }

  .#{$namespace}-carousel {
    position: relative;
    width: 100%;
    min-height: calc(10vh - 7em);
    &::after {
    top: 0px;
  }
  }
  .#{$namespace}-carousel-wrapper {
    $paddingLeft: 8%;
    $paddingRight: 8%;
    $paddingTop: 3em;
    padding-top: $paddingTop;
    min-height: 25em;
  }
  .#{$namespace}-carousel-inner-wrapper {
    min-height: 8em;
  }
  .#{$namespace}-slide-inner {
    margin-bottom: 3.5em;
  }
}
@mixin project-hover {
  .#{$namespace}-text-content a {
    @include v.hover-action;
  }
}
