@use "../../../../../public/variables" as v;
@use "../../../../utilities/projectItem/projectItem" as projectItem;
$wave-width: 100%;
$pagination-height: 1.2rem;
//variables
$namespace: "project-banner";
@mixin project-banner(
  $container-spacing-top: 3.75rem,
  $container-spacing-bottom: 4.5rem,
  $container-heading-font-size: 4rem,
  $text-container-padding: 2.25rem,
  $text-container-font-size: 1.5rem,
  $featured-container-padding-left: 0.75rem,
  $featured-container-padding-right: 2.25rem,
  $featured-container-spacing: 9rem,
  $sticky-label-font-size: 4rem,
  $view-all-banner-font-size: 1.5rem,
  $view-all-banner-spacing: 1.75rem,
  $view-all-btn-font-size: 2.25rem,
  $project-item-content-horizontal-padding: 3rem,
  $project-item-content-title-font-size: 2.25rem,
  $project-item-content-description-font-size: 1.125rem,
  $project-item-description-slim-top-padding: 1.75rem,
  $project-item-description-bottom-padding: 1.625rem,
  $project-item-action-btns-spacing: 1.625rem,
  $project-item-action-btns-font-size: 1.375rem,
  $project-item-container-min-height: 25rem,
  $project-item-container-mobile: "false",
  $project-item-content-width: 35%
) {
  ##{$namespace} {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: $container-spacing-top;
    padding-bottom: $container-spacing-bottom;
  }

  .#{$namespace}-text-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: v.$off-white;
    padding-left: $text-container-padding;
    padding-right: $text-container-padding;
    padding-bottom: $text-container-padding * 2;
    box-sizing: border-box;
    width: 100%;

    & > h2 {
      @include v.section-heading($container-heading-font-size);
      width: auto;
      color: v.$light-red;
    }

    & > p {
      font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      opacity: 0;
      width: 100%;
      font-size: $text-container-font-size;
      line-height: 2em;
      margin: 0;
      padding-top: $text-container-padding;
    }
    & > p {
      @keyframes element-appear {
        0% {
          opacity: 0;
        }

        50% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      &.visible {
        opacity: 1;
        animation: 3s ease-in-out 0s element-appear;
      }

      .#{$namespace}-ani-container {
        vertical-align: middle;
        position: relative;
        margin-top: -0.2em;
        min-width: 5em;
        min-height: 2em;
        &::after {
          content: "";
          position: absolute;
          top: 0.25em;
          height: 1.5em;
          width: 1px;
          background: v.$white;
        }
      }
    }
  }

  .#{$namespace}-featured {
    display: flex;
    justify-content: start;
    position: relative;
    width: 100%;
    padding-left: $featured-container-padding-left;
    padding-right: $featured-container-padding-right;
    box-sizing: border-box;
    & > .sticky-label {
      color: v.$lighter-black;
      font-weight: 500;
      text-transform: uppercase;
      font-size: $sticky-label-font-size;
      font-family: "JetBrains Mono", "Segoe UI", Tahoma, Geneva, Verdana,
        sans-serif;
    }
  }
  .#{$namespace}-featured-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    & > * {
      margin-bottom: $featured-container-spacing;
    }
    & > :last-child {
      margin-bottom: 0;
    }
    @include projectItem.project-item(
      $project-item-content-horizontal-padding,
      $project-item-content-title-font-size,
      $project-item-content-description-font-size,
      $project-item-description-slim-top-padding,
      $project-item-description-bottom-padding,
      $project-item-action-btns-spacing,
      $project-item-action-btns-font-size,
      $project-item-container-min-height,
      $project-item-container-mobile,
      $project-item-content-width
    );
  }
  .#{$namespace}-view-all-banner {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    & > p {
      font-size: $view-all-banner-font-size;
      color: v.$off-white;
      font-weight: 400;
      font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      padding-bottom: $view-all-banner-spacing;
      margin: 0;
    }
  }
  .#{$namespace}-view-all-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    & > a {
      @include v.link-btn($view-all-btn-font-size, v.$light-red);
    }
  }
}
