$light-red: #ff5050;
$red: #d24040;
$dark-red: #ae0000;
$blue: #3ac2ff;
$yellow: #ffc83a;
$dark-yellow: #d47c00;
$dark-blue: #0068e0;
$gray: #afafaf;
$lighter-black: #5a5a5a;
$light-black: #4e4e4e;
$dark-black: #2e2e2e;
// $darker-black: #303030;
$black: #313131;
$darkest-black: #161616;
$white: #ffffff;
$off-white: #f2f2f2;
$corner-gradient: linear-gradient(
  138.2deg,
  $yellow 1.06%,
  $light-red 49.26%,
  $blue 93.61%
);
$corner-gradient-reverse: linear-gradient(
  138.2deg,
  $blue 1.06%,
  $light-red 49.26%,
  $yellow 93.61%
);
$horizontal-gradient: linear-gradient(
  90deg,
  $yellow 10.37%,
  $light-red 50.21%,
  $blue 90.43%
);

$navbar-height: 3.5em;
@mixin remove-btn-default {
  cursor: pointer;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: inherit;
}
@mixin img-fill {
  .lazy-load-image-background {
    width: 100%;
    height: 100%;
  }
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}
@mixin abs-pos-fill($zIndex: 0) {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zIndex;
}
@mixin bg-fill($bgColor, $zIndex: 0) {
  position: relative;
  &:after {
    @include abs-pos-fill($zIndex);
    background: $bgColor;
  }
}
@mixin scrollbar-styles($color, $width) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    outline: 1px solid $color;
    border-radius: $width;
  }
}
