@use "./variables" as v;
@use "../src/components/utilities/utilities";
@use "../src/components/pages/homePage/homePage";
@use "../src/components/pages/aboutPage/about";
@use "../src/components/pages/projectsPage/project";
@use "../src/components/pages/skillsPage/skills";
@use "../src/components/pages/contactPage/contactPage";
//last import since it must override previous styles
@use "./mediaQueries";
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: v.$dark-black;
  height: auto;
}
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}
#app-container {
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}
