@use "./variables" as v;
@use "../src/utilities/utilities";
@use "../src/pages/homePage/homePage";
@use "../src/pages/aboutPage/about";
@use "../src/pages/projectPage/project";
//last import since it must override previous styles
@use "./mediaQueries";
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: v.$light-black;
}
