
#eIH7cNo3Qf54_to {
  animation: eIH7cNo3Qf54_to__to 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf54_to__to {
  0% {
    transform: translate(201.770002px, 163.930002px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  22.5% {
    transform: translate(78.490002px, 55.830002px);
    animation-timing-function: step-end;
  }
  22.727273% {
    transform: translate(201.770002px, 163.930002px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  45.227273% {
    transform: translate(78.490002px, 55.830002px);
    animation-timing-function: step-end;
  }
  45.454545% {
    transform: translate(201.770002px, 163.930002px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  67.954545% {
    transform: translate(78.490002px, 55.830002px);
    animation-timing-function: step-end;
  }
  68.181818% {
    transform: translate(201.770002px, 163.930002px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  90.681818% {
    transform: translate(78.490002px, 55.830002px);
  }
  100% {
    transform: translate(78.490002px, 55.830002px);
  }
}
#eIH7cNo3Qf54_tr {
  animation: eIH7cNo3Qf54_tr__tr 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf54_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  4.545455% {
    transform: rotate(0deg);
  }
  95.454545% {
    transform: rotate(2880deg);
  }
  100% {
    transform: rotate(2880deg);
  }
}
#eIH7cNo3Qf54 {
  animation: eIH7cNo3Qf54_c_o 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf54_c_o {
  0% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  11.363636% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  22.5% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  22.727273% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  34.090909% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  45.227273% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  45.454545% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  56.818182% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  67.954545% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  68.181818% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  79.545455% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  90.681818% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eIH7cNo3Qf55_to {
  animation: eIH7cNo3Qf55_to__to 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf55_to__to {
  0% {
    transform: translate(201.769999px, 163.930001px);
  }
  2.272727% {
    transform: translate(201.769999px, 163.930001px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  24.772727% {
    transform: translate(81.939999px, 103.77px);
    animation-timing-function: step-end;
  }
  25% {
    transform: translate(201.769999px, 163.930001px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  47.5% {
    transform: translate(81.939999px, 103.77px);
    animation-timing-function: step-end;
  }
  47.727273% {
    transform: translate(201.769999px, 163.930001px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  70.227273% {
    transform: translate(81.939999px, 103.77px);
    animation-timing-function: step-end;
  }
  70.454545% {
    transform: translate(201.769999px, 163.930001px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  92.954545% {
    transform: translate(81.939999px, 103.77px);
  }
  100% {
    transform: translate(81.939999px, 103.77px);
  }
}
#eIH7cNo3Qf55_tr {
  animation: eIH7cNo3Qf55_tr__tr 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf55_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  4.545455% {
    transform: rotate(0deg);
  }
  95.454545% {
    transform: rotate(2880deg);
  }
  100% {
    transform: rotate(2880deg);
  }
}
#eIH7cNo3Qf55 {
  animation: eIH7cNo3Qf55_c_o 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf55_c_o {
  0% {
    opacity: 1;
  }
  2.272727% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  13.636364% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  24.772727% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  25% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  36.363636% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  47.5% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  47.727273% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  59.090909% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  70.227273% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  70.454545% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  81.818182% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  92.954545% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eIH7cNo3Qf56_to {
  animation: eIH7cNo3Qf56_to__to 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf56_to__to {
  0% {
    transform: translate(201.77px, 163.93px);
  }
  5.681818% {
    transform: translate(201.77px, 163.93px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  28.181818% {
    transform: translate(109px, 77px);
    animation-timing-function: step-end;
  }
  28.409091% {
    transform: translate(201.77px, 163.93px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  50.909091% {
    transform: translate(109px, 77px);
    animation-timing-function: step-end;
  }
  51.136364% {
    transform: translate(201.77px, 163.93px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  73.636364% {
    transform: translate(109px, 77px);
    animation-timing-function: step-end;
  }
  73.863636% {
    transform: translate(201.77px, 163.93px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  96.363636% {
    transform: translate(109px, 77px);
  }
  100% {
    transform: translate(109px, 77px);
  }
}
#eIH7cNo3Qf56_tr {
  animation: eIH7cNo3Qf56_tr__tr 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf56_tr__tr {
  0% {
    transform: rotate(2880deg);
  }
  4.545455% {
    transform: rotate(2880deg);
  }
  95.454545% {
    transform: rotate(2880deg);
  }
  100% {
    transform: rotate(2880deg);
  }
}
#eIH7cNo3Qf56 {
  animation: eIH7cNo3Qf56_c_o 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf56_c_o {
  0% {
    opacity: 1;
  }
  5.681818% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  17.045455% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  28.181818% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  28.409091% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  39.772727% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  50.909091% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  51.136364% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  62.5% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  73.636364% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  73.863636% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  85.227273% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  96.363636% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eIH7cNo3Qf57_to {
  animation: eIH7cNo3Qf57_to__to 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf57_to__to {
  0% {
    transform: translate(201.77px, 163.93px);
  }
  11.363636% {
    transform: translate(201.77px, 163.93px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  33.863636% {
    transform: translate(137.340004px, 50.330002px);
    animation-timing-function: step-end;
  }
  34.090909% {
    transform: translate(201.77px, 163.93px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  56.590909% {
    transform: translate(137.340004px, 50.330002px);
    animation-timing-function: step-end;
  }
  56.818182% {
    transform: translate(201.77px, 163.93px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  79.318182% {
    transform: translate(137.340004px, 50.330002px);
    animation-timing-function: step-end;
  }
  79.545455% {
    transform: translate(201.77px, 163.93px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    transform: translate(143.197276px, 60.657275px);
  }
}
#eIH7cNo3Qf57_tr {
  animation: eIH7cNo3Qf57_tr__tr 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf57_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  4.545455% {
    transform: rotate(0deg);
  }
  95.454545% {
    transform: rotate(2880deg);
  }
  100% {
    transform: rotate(2880deg);
  }
}
#eIH7cNo3Qf57 {
  animation: eIH7cNo3Qf57_c_o 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf57_c_o {
  0% {
    opacity: 1;
  }
  11.363636% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  22.727273% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  33.863636% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  34.090909% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  45.454545% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  56.590909% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  56.818182% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  68.181818% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  79.318182% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  79.545455% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  90.909091% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  99.772727% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eIH7cNo3Qf512_to {
  animation: eIH7cNo3Qf512_to__to 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf512_to__to {
  0% {
    transform: translate(201.769988px, 163.930002px);
  }
  7.954545% {
    transform: translate(201.769988px, 163.930002px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  30.454545% {
    transform: translate(294.549988px, 55.830002px);
    animation-timing-function: step-end;
  }
  30.681818% {
    transform: translate(201.769988px, 163.930002px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  53.181818% {
    transform: translate(294.549988px, 55.830002px);
    animation-timing-function: step-end;
  }
  53.409091% {
    transform: translate(201.769988px, 163.930002px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  75.909091% {
    transform: translate(294.549988px, 55.830002px);
    animation-timing-function: step-end;
  }
  76.136364% {
    transform: translate(201.769988px, 163.930002px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  98.636364% {
    transform: translate(294.549988px, 55.830002px);
  }
  100% {
    transform: translate(294.549988px, 55.830002px);
  }
}
#eIH7cNo3Qf512_tr {
  animation: eIH7cNo3Qf512_tr__tr 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf512_tr__tr {
  0% {
    transform: rotate(2880deg);
  }
  4.545455% {
    transform: rotate(2880deg);
  }
  95.454545% {
    transform: rotate(2880deg);
  }
  100% {
    transform: rotate(2880deg);
  }
}
#eIH7cNo3Qf512 {
  animation: eIH7cNo3Qf512_c_o 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf512_c_o {
  0% {
    opacity: 1;
  }
  7.954545% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  19.318182% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  30.454545% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  30.681818% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  42.045455% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  53.181818% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  53.409091% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  64.772727% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  75.909091% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  76.136364% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  87.5% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  98.636364% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eIH7cNo3Qf513_to {
  animation: eIH7cNo3Qf513_to__to 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf513_to__to {
  0% {
    transform: translate(201.770003px, 163.93px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  22.5% {
    transform: translate(340.925003px, 214.07px);
    animation-timing-function: step-end;
  }
  22.727273% {
    transform: translate(201.770003px, 163.93px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  45.227273% {
    transform: translate(340.925003px, 214.07px);
    animation-timing-function: step-end;
  }
  45.454545% {
    transform: translate(201.770003px, 163.93px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  67.954545% {
    transform: translate(340.925003px, 214.07px);
    animation-timing-function: step-end;
  }
  68.181818% {
    transform: translate(201.770003px, 163.93px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  90.681818% {
    transform: translate(340.925003px, 214.07px);
  }
  100% {
    transform: translate(340.925003px, 214.07px);
  }
}
#eIH7cNo3Qf513_tr {
  animation: eIH7cNo3Qf513_tr__tr 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf513_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  4.545455% {
    transform: rotate(0deg);
  }
  95.454545% {
    transform: rotate(2880deg);
  }
  100% {
    transform: rotate(2880deg);
  }
}
#eIH7cNo3Qf513 {
  animation: eIH7cNo3Qf513_c_o 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf513_c_o {
  0% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  11.363636% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  22.5% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  22.727273% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  34.090909% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  45.227273% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  45.454545% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  56.818182% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  67.954545% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  68.181818% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  79.545455% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  90.681818% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eIH7cNo3Qf514_to {
  animation: eIH7cNo3Qf514_to__to 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf514_to__to {
  0% {
    transform: translate(201.769987px, 163.929997px);
  }
  5.681818% {
    transform: translate(201.769987px, 163.929997px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  28.181818% {
    transform: translate(301.189987px, 171.589996px);
    animation-timing-function: step-end;
  }
  28.409091% {
    transform: translate(201.769987px, 163.929997px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  50.909091% {
    transform: translate(301.189987px, 171.589996px);
    animation-timing-function: step-end;
  }
  51.136364% {
    transform: translate(201.769987px, 163.929997px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  73.636364% {
    transform: translate(301.189987px, 171.589996px);
    animation-timing-function: step-end;
  }
  73.863636% {
    transform: translate(201.769987px, 163.929997px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  96.363636% {
    transform: translate(301.189987px, 171.589996px);
  }
  100% {
    transform: translate(301.189987px, 171.589996px);
  }
}
#eIH7cNo3Qf514_tr {
  animation: eIH7cNo3Qf514_tr__tr 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf514_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  4.545455% {
    transform: rotate(0deg);
  }
  95.454545% {
    transform: rotate(2880deg);
  }
  100% {
    transform: rotate(2880deg);
  }
}
#eIH7cNo3Qf514 {
  animation: eIH7cNo3Qf514_c_o 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf514_c_o {
  0% {
    opacity: 1;
  }
  5.681818% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  17.045455% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  28.181818% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  28.409091% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  39.772727% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  50.909091% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  51.136364% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  62.5% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  73.636364% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  73.863636% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  85.227273% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  96.363636% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eIH7cNo3Qf515_to {
  animation: eIH7cNo3Qf515_to__to 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf515_to__to {
  0% {
    transform: translate(201.77px, 163.930002px);
  }
  9.090909% {
    transform: translate(201.77px, 163.930002px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  31.477273% {
    transform: translate(283px, 248.720001px);
    animation-timing-function: step-end;
  }
  31.590909% {
    transform: translate(201.77px, 163.930002px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  54.318182% {
    transform: translate(283px, 248.720001px);
    animation-timing-function: step-end;
  }
  54.545455% {
    transform: translate(201.77px, 163.930002px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  77.272727% {
    transform: translate(201.77px, 163.930002px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    transform: translate(283px, 248.720001px);
  }
}
#eIH7cNo3Qf515_tr {
  animation: eIH7cNo3Qf515_tr__tr 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf515_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  4.545455% {
    transform: rotate(0deg);
  }
  95.454545% {
    transform: rotate(2880deg);
  }
  100% {
    transform: rotate(2880deg);
  }
}
#eIH7cNo3Qf515 {
  animation: eIH7cNo3Qf515_c_o 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf515_c_o {
  0% {
    opacity: 1;
  }
  20.454545% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  31.477273% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  31.590909% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  42.954545% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  54.318182% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  54.545455% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  65.909091% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  77.272727% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  88.636364% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    opacity: 0;
  }
}
// #eIH7cNo3Qf516_to {
//   animation: eIH7cNo3Qf516_to__to 8800ms linear infinite normal forwards;
// }
// @keyframes eIH7cNo3Qf516_to__to {
//   0% {
//     transform: translate(200px, 162px);
//     animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
//   }
//   2.272727% {
//     transform: translate(200px, 165px);
//     animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
//   }
//   4.545455% {
//     transform: translate(200px, 162px);
//   }
//   100% {
//     transform: translate(200px, 162px);
//   }
// }
#eIH7cNo3Qf516_tr {
  animation: eIH7cNo3Qf516_tr__tr 2300ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf516_tr__tr {
  0% {
    transform: rotate(8deg);
  }

  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
#eIH7cNo3Qf517_ts {
  animation: eIH7cNo3Qf517_ts__ts 2300ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf517_ts__ts {
  0% {
    transform: translate(199.999992px, 161.999992px) scale(0.7);
        animation-timing-function: linear;

  }
  50% {
    transform: translate(199.999992px, 161.999992px) scale(1.153668, 1.153668);
    animation-timing-function: linear;
  }
  
  100% {
    transform: translate(199.999992px, 161.999992px) scale(0.7);
        animation-timing-function: linear;
    //animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
}

#eIH7cNo3Qf518 {
  animation: eIH7cNo3Qf518_c_o 8800ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf518_c_o {
  0% {
    opacity: 1;
  }
  17.045455% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  23.863636% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  28.409091% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  35.227273% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  39.772727% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  46.590909% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  51.136364% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  57.954545% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  62.5% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  69.318182% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  73.863636% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  80.681818% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  85.227273% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  92.045455% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#eIH7cNo3Qf562_tr {
  animation: eIH7cNo3Qf562_tr__tr 24000ms linear infinite normal forwards;
}
@keyframes eIH7cNo3Qf562_tr__tr {
  0% {
    transform: translate(200px, 162.16px) rotate(-90deg);
  }
  100% {
    transform: translate(200px, 162.16px) rotate(2790deg);
  }
}
