@use "sass:math";
$namespace: "loading-icon-programmer";
.#{$namespace} {
  position: relative;

  svg {
    position: relative;
    z-index: 1;
  }
}
.#{$namespace}-thought-bubbles,
.#{$namespace}-idea-bubble,
.#{$namespace}-gears,
.#{$namespace}-success {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(1);

  path {
    transform: scale(1);
    opacity: 0;
    transform-box: fill-box;
    transform-origin: center;
  }
}
.#{$namespace}-success {
  opacity: 0;
  transform: scale(0);
}
.#{$namespace}-text-dots {
  transform-box: fill-box;
  circle {
    transform-origin: center;

    //transform-box: view-box;
  }
}
$loading-namespace: "loading-icon";
.#{$loading-namespace}-regular-circle-spinner {
  $offset: 187;
  $duration: 1.4s;
  animation: rotator $duration linear infinite;
  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite,
      //colors ($duration * 4) ease-in-out infinite;
  }

  // @keyframes colors {
  //   0% {
  //     stroke: black;
  //   }
  //   25% {
  //     stroke: black;
  //   }
  //   50% {
  //     stroke: black;
  //   }
  //   75% {
  //     stroke: black;
  //   }
  //   100% {
  //     stroke: black;
  //   }
  // }

  @keyframes dash {
    0% {
      stroke-dashoffset: $offset;
    }
    50% {
      stroke-dashoffset: math.div($offset , 4 );
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform: rotate(450deg);
    }
  }
}
