@use "./components/education" as education;
@use "./components/introBanner" as intro;
@use "./components/hobbies" as hobbies;
$namespace: "about-pg";
$hobbies-namespace: hobbies.$namespace;
$intro-namespace: intro.$namespace;
$education-namespace: education.$namespace;
##{$namespace} {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
