@use "../../../../public/variables" as v;
$namespace: "skills-pg";
@mixin skills-pg() {
  .#{$namespace}-container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
  }
}
