@use "./contactPage" as c;
@use "../../../../public/variables" as v;
@use "sass:math";
$namespace: c.$namespace;
@mixin contact-xxl {
  @include c.contact-pg;
}
@mixin contact-xl {
  @include c.contact-pg(
    $isMobile: "false",
    $container-horizontal-spacing: 2.25rem,
    $container-vertical-spacing: 3rem,
    $container-col-spacing: 3rem,
    $description-heading-font-size: 1.5rem,
    $description-body-font-size: 1.125rem,
    $description-img-padding-top: 3rem,
    $form-heading-font-size: 2.25rem * 0.8,
    $form-heading-spacing: 4rem,
    $form-description-font-size: 1.25rem * 0.8,
    $form-container-spacing: 3rem,
    $form-inner-container-spacing: 1.25rem,
    $form-container-row-spacing: 2rem,
    $form-input-font-size: 1.125rem,
    $form-submit-btn-font-size: 1.5rem * 0.8
  );
}

@mixin contact-lg {
  @include c.contact-pg(
    $isMobile: "false",
    $container-horizontal-spacing: 2.25rem * 0.8,
    $container-vertical-spacing: 3rem * 0.8,
    $container-col-spacing: 3rem * 0.6,
    $description-heading-font-size: 1.5rem * 0.8,
    $description-body-font-size: 1.125rem * 0.8,
    $description-img-padding-top: 3rem * 0.8,
    $form-heading-font-size: 2.25rem * 0.8,
    $form-heading-spacing: 4rem * 0.5,
    $form-description-font-size: 1.25rem * 0.8,
    $form-container-spacing: 3rem * 0.6,
    $form-inner-container-spacing: 1.25rem * 0.6,
    $form-container-row-spacing: 2rem * 0.8,
    $form-input-font-size: 1.125rem * 0.8,
    $form-submit-btn-font-size: 1.5rem * 0.7
  );
}
@mixin contact-md {
  @include c.contact-pg(
    $isMobile: "true",
    $container-horizontal-spacing: 2.25rem * 0.6,
    $container-vertical-spacing: 3rem * 0.6,
    $container-col-spacing: 0,
    $description-heading-font-size: 1.5rem,
    $description-body-font-size: 1.125rem,
    $description-img-padding-top: 3rem,
    $form-heading-font-size: 2.25rem,
    $form-heading-spacing: 4rem * 0.8,
    $form-description-font-size: 1.25rem,
    $form-container-spacing: 3rem,
    $form-inner-container-spacing: 1.25rem,
    $form-container-row-spacing: 2rem,
    $form-input-font-size: 1.125rem,
    $form-submit-btn-font-size: 1.5rem
  );
}
@mixin contact-sm {
  @include c.contact-pg(
    $isMobile: "true",
    $container-horizontal-spacing: 1rem,
    $container-vertical-spacing: 1.75rem,
    $container-col-spacing: 0,
    $description-heading-font-size: 1.25rem,
    $description-body-font-size: 0.9rem,
    $description-img-padding-top: 1.75rem * 1.5,
    $form-heading-font-size: 1.5rem,
    $form-heading-spacing: 1.625rem,
    $form-description-font-size: 1rem,
    $form-container-spacing: 3rem,
    $form-inner-container-spacing: 1.25rem,
    $form-container-row-spacing: 2rem,
    $form-input-font-size: 1rem,
    $form-submit-btn-font-size: 1.25rem
  );
}
@mixin contact-hover {
  .#{$namespace}-contact-form-btn {
    @include v.hover-action;
  }
  .#{$namespace}-content-resume-link {
    @include v.hover-action;
  }
}
