@use "../../../public/variables" as v;
@use "../homePage/components/skillsBanner/skillsBanner" as skillsBanner;
$namespace: "skills-pg";
.#{$namespace}-container {
  padding-top: calc(#{v.$navbar-height} + #{skillsBanner.$width});
  background-color: v.$dark-black;
  padding-bottom: v.$navbar-height;
}
