@use "./aboutMeBanner" as a;
@use "../../../../../public/variables" as v;
$namespace: a.$namespace;
@mixin about-spacing($font-size, $paragraph-size-unit: $font-size) {
  $unitless-size: $font-size;
  $font-size: calc(min(#{$unitless-size}vw, 5.5em));
  .#{$namespace}-wave {
    height: calc(#{$font-size} * 5.5);
  }
  .#{$namespace}-text-content {
    width: calc(#{$font-size} * 4.2);
    padding: calc(#{$font-size} / 1.7);
    border-radius: calc(#{$font-size} / 2);
    h2 {
      font-size: calc(#{$font-size} * 0.61);
    }
    & > span {
      margin-top: calc(#{$font-size} / 4);
      font-size: calc(#{$font-size} * 0.28);
    }
    $paragraph-size: calc(min(#{$paragraph-size-unit}vw, 5.5em));
    p {
      margin-top: calc(#{$paragraph-size} / 4);
      font-size: calc(#{$paragraph-size} * 0.22);
      line-height: 1.623em;
      span {
        font-size: calc(#{$paragraph-size} * 0.55);
      }
    }
  }
}
@mixin about-xxl{
  
}
@mixin about-xl{

}
@mixin about-lg {
  ##{$namespace} {
    display: flex;
    flex-direction: column;
  }
  .#{$namespace}-wave {
    width: 100%;
    max-width: unset;
    svg {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
    }
  }

  .#{$namespace}-text-container {
    padding-bottom: 0;
    width: 100%;
  }
  .#{$namespace}-media-content {
    padding: calc(#{v.$navbar-height} * 2);
  }
  .#{$namespace}-blob {
    width: calc(100% - (#{v.$navbar-height} * 4));
  }
  @include about-spacing(10);
}
@mixin about-md {
  .#{$namespace}-text-container,
  .#{$namespace}-media-content {
    padding: 0;
  }
  .#{$namespace}-text-container {
    padding-top: calc(#{v.$navbar-height} * 2);
  }
  .#{$namespace}-media-content {
    padding: calc(#{v.$navbar-height} * 2);
  }
  .#{$namespace}-media-content {
    & > svg {
      transform: translateX(6%);
      width: 110%;
    }
  }
  .#{$namespace}-blob {
    width: calc(100% - (#{v.$navbar-height} * 2));
  }
  @include about-spacing(13);
}
@mixin about-sm {
  .#{$namespace}-media-content {
    padding: calc(#{v.$navbar-height});
    & > svg {
      transform: translateX(5%);
      width: 95%;
    }
  }
  .#{$namespace}-blob {
    width: calc(110% - (#{v.$navbar-height} * 2));
  }
  @include about-spacing(15, 17);
}
