@use "./skillsBanner" as s;
@use "../../../../../public/variables" as v;
$namespace: s.$namespace;

@mixin skills-xxl {
  @include s.skills-banner;
}
@mixin skills-xl {
  @include s.skills-banner($img-width: 18.23rem);
}
@mixin skills-lg {
  @include s.skills-banner(
    $img-width: 14.58rem,
    $container-top-padding: 3rem,
    $container-bottom-padding: 3.6rem,
    $container-horizontal-padding: 1.8rem,
    $container-heading-font-size: 3.2rem,
    $container-heading-vertial-spacing: 1.8rem,
    $text-content-font-size: 1.2rem,
    $skills-list-container-padding-left: 0.6rem,
    $skills-list-container-padding-right: 1.8rem,
    $view-all-btn-font-size: 1.8rem,
    $view-all-btn-padding-top: 1.6rem,
    $sticky-label-font-size: 3.2rem,
    $mobile: "false"
  );
}
@mixin skills-md {
  @include s.skills-banner(
    $img-width: 14.58rem,
    $container-top-padding: 2.7rem,
    $container-bottom-padding: 3rem,
    $container-horizontal-padding: 1.8rem,
    $container-heading-font-size: 3rem,
    $container-heading-vertial-spacing: 1.8rem,
    $text-content-font-size: 1rem,
    $skills-list-container-padding-left: 1.8rem,
    $skills-list-container-padding-right: 1.8rem,
    $view-all-btn-font-size: 1.35rem,
    $view-all-btn-padding-top: 1.6rem,
    $sticky-label-font-size: 3rem,
    $mobile: "false"
  );
  .#{$namespace}-skills-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .sticky-label {
      text-align: center;
      padding-bottom: 1.8rem;
      text-transform: none;
    }
  }
}
@mixin skills-sm {
  @include s.skills-banner(
    $img-width: auto,
    $container-top-padding: 2.25rem,
    $container-bottom-padding: 3.5rem,
    $container-horizontal-padding: 1rem,
    $container-heading-font-size: 3rem,
    $container-heading-vertial-spacing: 1rem,
    $text-content-font-size: 1.125rem,
    $skills-list-container-padding-left: 1rem,
    $skills-list-container-padding-right: 1rem,
    $view-all-btn-font-size: 1.35rem,
    $view-all-btn-padding-top: 1.2rem,
    $sticky-label-font-size: 3rem,
    $mobile: "true"
  );
  .#{$namespace}-text-content {
    h2 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
    }
  }
  .#{$namespace}-media-content {
    margin-right: 0.625rem;
    padding-bottom: 0.3em;
    .#{$namespace}-media-img-container {
      height: 1.4em;
    }
  }
  .#{$namespace}-skills-list-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .#{$namespace}-skills-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .sticky-label {
      text-align: center;
      padding-bottom: 2rem;
      text-transform: none;
    }
  }
}
@mixin skills-hover {
  .#{$namespace}-text-content {
    button,
    a {
      @include v.hover-action;
    }
  }
}
