@use "./skillsBanner" as s;
@use "../../../../../public/variables" as v;
$namespace: s.$namespace;
@mixin skills-spacing(
  $font-size,
  $link-size-unit: $font-size,
  $grid-gap: $font-size
) {
  $unitless-size: $font-size;
  $font-size: calc(min(#{$unitless-size}vw, 5.5em));
  .#{$namespace}-media-content {
    .#{$namespace}-media-img-container {
      font-size: calc(#{$font-size} * 0.5);
    }
  }
  .#{$namespace}-text-content {
    p {
      font-size: calc(#{$font-size} * 0.5);
    }
    $link-size: calc(min(#{$link-size-unit}vw, 5.5em));
    a,
    button {
      font-size: calc(#{$link-size} * 0.25);
      margin: calc(#{$link-size} / 2) 0;
      padding: calc(#{$link-size} * 0.3 / 3) calc(#{$link-size} * 0.3);
    }
  }
  .#{$namespace}-skills-list {
    h3 {
      font-size: calc(#{$font-size} * 0.8);
      line-height: 1.375em;
    }
  }
  .#{$namespace}-skills-list-inner {
    grid-gap: calc(#{$grid-gap} * 0.5); /* optional */
    .#{$namespace}-skills-list-item {
      font-size: calc(#{$font-size} * 0.3);
    }
  }
}
@mixin skills-lg {
  @include skills-spacing(6);
  ##{$namespace}-inner {
    box-sizing: border-box;
  }
  .#{$namespace}-media-content {
    padding: 0 10%;
    padding-left: 15%;
  }
  .#{$namespace}-text-content {
    padding-right: 10%;
  }
}
@mixin skills-md {
  @include skills-spacing(10);
  ##{$namespace}-inner {
    box-sizing: border-box;
    flex-direction: column;
  }
  .#{$namespace}-media-content {
    align-items: center;
    width: 100%;
    padding: 10% 0;
  }
  .#{$namespace}-media-img-container {
    & > svg {
      width: 60%;
      height: auto;
    }
  }
  .#{$namespace}-text-content {
    padding-right: 0;
    width: 100%;
    padding-bottom: 20%;
  }
  .#{$namespace}-skills-list-inner {
    $width: min(5vw, 4em);

    grid-template-columns: repeat(2, 1fr);
    padding-top: calc(#{$width} * 2);
    padding-bottom: calc(#{$width} * 2);
  }
}
@mixin skills-sm {
  @include skills-spacing(10.5, 15);
  .#{$namespace}-media-img-container {
    & > svg {
      width: 80%;
    }
  }
  // .#{$namespace}-skills-list-inner {
  //   grid-template-columns: repeat(2, 1fr);
  // }
}
@mixin skills-hover {
  .#{$namespace}-text-content {
    button,
    a {
      @include v.hover-action;
    }
  }
}
