@use "../../../../../public/variables" as v;
$namespace: "skills-banner";
$width: min(5vw, 4em);

##{$namespace} {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: v.$darkest-black;
  & > svg {
    @include v.abs-pos-fill(0);
    height: auto;
    width: $width;
    &:first-child {
      left: unset;
      top: $width;
      right: $width;
    }
    &:last-child {
      top: unset;
      left: $width;
      bottom: $width;
    }
  }
}
##{$namespace}-inner {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: calc(#{$width} * 1.75);
  padding-bottom: calc(#{$width} * 1.75);
}
.#{$namespace}-media-content,
.#{$namespace}-text-content {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
  width: 50%;
  align-self: stretch;
}
.#{$namespace}-media-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 10%;
  padding-left: 15%;
  .#{$namespace}-media-img-container {
    $unitless-size: 5.2;
    $font-size: calc(min(#{$unitless-size}vw, 5.5em));
    font-size: calc(#{$font-size} * 0.5);
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    //align-items: center;
    & > svg {
      height: 100%;
    }
  }
  // .#{$namespace}-media-img-container-inner {
  //   position: absolute;
  //   z-index: 1;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  // }
  // @include v.img-fill();
}
.#{$namespace}-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10%;
  $unitless-size: 5.2;
  $font-size: calc(min(#{$unitless-size}vw, 5.5em));
  p {
    color: v.$white;
    font-size: calc(#{$font-size} * 0.5);
    line-height: 2em;
    max-width: 15em;
    margin: 0;
  }
  button,
  a {
    @include v.remove-btn-default;
    font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: v.$yellow;
    border: 1px solid v.$yellow;
    border-radius: 0.2em;
    font-size: calc(#{$font-size} * 0.25);
    margin-top: calc(#{$font-size} / 2);
    padding: calc(#{$font-size} * 0.28 / 3) calc(#{$font-size} * 0.28);
  }
}
.#{$namespace}-skills-list {
  $unitless-size: 5.2;
  $font-size: calc(min(#{$unitless-size}vw, 5.5em));
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  h3 {
    font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: v.$off-white;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: calc(#{$font-size} * 0.75);
    line-height: 1em;
  }
}
.#{$namespace}-skills-list-inner {
  $unitless-size: 5.2;
  $font-size: calc(min(#{$unitless-size}vw, 5.5em));
  width: 100%;
  display: grid;
  padding-top: calc(#{$width} * 1.5);
  padding-bottom: calc(#{$width} * 1.5);
  grid-gap: calc(#{$font-size} * 0.5); /* optional */
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  grid-template-columns: repeat(3, 1fr);
  color: v.$yellow;
  .#{$namespace}-skills-list-item {
    font-size: calc(#{$font-size} * 0.3);
    text-align: center;
  }
}
.#{$namespace}-svg-spacing {
  padding-bottom: calc(#{$width} * 2.2);
}
