@use "./components/introBanner/introBanner";
@use "./components/projectBanner/projectBanner";
@use "./components/skillsBanner/skillsBanner";
.home-pg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    width: 100%;
  }
}
