@use "../../../public/variables" as v;
@use "sass:math";
$namespace: "project-pg";
$project-bg-height: 100vh;
$project-wave-bg-height: math.div($project-bg-height * 2, 3);
##{$namespace} {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  background-color: v.$dark-black;
}
##{$namespace}-wave-bg {
  height: $project-wave-bg-height;
  min-height: 30em;
  max-height: 35em;
  #wave-bg-rotate-wave-project-wave {
    background: v.$blue;
  }
}
##{$namespace}-inner {
  $padding: 10%;
  padding: 0 math.div($padding , 2);
  padding-top: v.$navbar-height;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% - $padding * 2;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  h2 {
    padding: 1em 0;
    margin: 0;
    color: v.$white;
    font-weight: 500;
    font-size: 4.5em;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
$width: 3em;
.#{$namespace}-project-urls {
  position: absolute;
  z-index: 1;
  top: math.div(-$width, 2);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  justify-content: end;
}
.#{$namespace}-project-url {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: v.$darkest-black;
  width: $width;
  aspect-ratio: 1/1;
  margin: 0 1%;
  color: v.$black;
  &:last-child {
    margin-right: 2%;
  }
  svg {
    position: relative;
    z-index: 1;
    width: 60%;
  }
}
$pagination-height: 1.2rem;

##{$namespace}-carousel {
  width: 80%;
  .#{$namespace}-carousel-wrapper {
    width: 100%;
    height: 100%;
  }
  .#{$namespace}-carousel-inner-wrapper {
    height: 100%;
    width: 100%;
  }
  .swiper-slide {
    height: calc(100% - (#{$pagination-height} * 3.5));
    background-color: v.$darkest-black;
    border-radius: 0.3em;
  }
  .swiper-pagination {
    height: auto;
  }
  .swiper-pagination-bullet {
    width: $pagination-height;
    height: $pagination-height;
    aspect-ratio: 1/1;
    border: 1px solid v.$blue;
    opacity: 1;
    background: transparent;
  }
  .swiper-pagination-bullet-active {
    background-color: v.$blue !important;
  }
}
.#{$namespace}-slide {
  position: relative;
  color: v.$white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.#{$namespace}-slide-inner {
  position: relative;
  height: 100%;
  width: 100%;
}
.#{$namespace}-coming-soon-banner-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}
.#{$namespace}-coming-soon-banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  svg {
    width: 100%;
    max-height: 100%;
    min-height: 100%;
  }
}
.#{$namespace}-coming-soon-banner {
  $padding: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% - ($padding * 2);
  height: 70%;
  padding: 0 $padding;
  z-index: 1;
  h3 {
    margin: 0;
    font-weight: 500;
    padding: 0;
  }
  h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
}
.#{$namespace}-coming-soon-banner-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.#{$namespace}-slide-img-container {
  @include v.abs-pos-fill();
}

.#{$namespace}-slide-text-content {
  position: absolute;
  left: 0;
  bottom: 0;
  $padding: 5%;
  padding: 3% $padding;
  box-sizing: border-box;
  width: 100% ;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 6em;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(80, 80, 80, 0) 0%,
    v.$darkest-black 100%
  );
}
.#{$namespace}-slide-first-row {
  display: flex;
  //justify-content: space-between;
  width: 100%;
  margin-bottom: 2%;
  align-items: center;
  h4 {
    font-weight: 500;
    font-size: 150%;
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
}
.#{$namespace}-slide-project-urls {
  display: flex;
  align-items: center;
  margin-left: 3%;
  .#{$namespace}-project-url {
    margin: 0 3%;
  }
}
.#{$namespace}-slide-dates {
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: v.$gray;
  text-align: center;
}
##{$namespace}-explore-more-header {
  font-weight: 500;
  color: v.$white;
  font-size: 2.7em;
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 1.3em;
  margin-bottom: 1.5em;
}
##{$namespace}-explore-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.#{$namespace}-project-card {
  width: 47.5%;
  min-width: 16em;
  display: flex;
  flex-direction: column;
  border: 2px solid v.$light-black;
  border-radius: 0.5em;
  margin-bottom: 5%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
  &:nth-last-child(2) {
    margin-bottom: 0;
  }
  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}
.#{$namespace}-project-card-img {
  border-radius: 0.4em 0.4em 0 0;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: v.$white;
  @include v.img-fill;
  color: v.$white;
  overflow: hidden;
  .#{$namespace}-coming-soon-banner {
    width: 90%;
    padding: 5%;
  }
}
.#{$namespace}-text-content {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  color: v.$white;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.#{$namespace}-text-content-inner {
  //max-height: 20em;
  overflow: overlay;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: v.$light-black;
  padding: 0 math.div($width, 2);
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  @include v.scrollbar-styles(v.$blue, 0.3em);

  p {
    color: #d0d0d0;
    font-size: 0.9em;
    line-height: 140%;
    padding: 0;
    margin: 0;
    margin-bottom: math.div($width, 2);
  }
}
.#{$namespace}-project-header {
  padding-top: math.div($width, 2);
  position: sticky;
  background-color: v.$light-black;
  padding-bottom: 0.9em;
  top: 0;
  left: 0;
  h4 {
    font-size: 1.3em;
    padding: 0;
    margin: 0;
    font-weight: 500;
    z-index: 0;
    padding-bottom: 0.4em;
  }
  .#{$namespace}-project-topics-btn {
    font-size: 0.8em;
    line-height: 0.8em;
    padding: 0.7em;
  }
}
.#{$namespace}-project-topics {
  .#{$namespace}-project-topic {
    border-radius: 1000px;
    font-size: 0.7em;
    padding: 0.5em;
    line-height: 0.7em;
    margin: 0.3em;
    margin-left: 0;
  }
}
.#{$namespace}-project-topics-inner {
  padding-bottom: 0.5em;
}

.#{$namespace}-pagination {
  width: 100%;
  margin: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2em;
  font-size: 0.8em;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.#{$namespace}-pagination-btns {
  @include v.remove-btn-default;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5em;
  border: 1px solid v.$blue;
  color: v.$blue;
  height: 100%;
  padding: 0.5em;
  aspect-ratio: 1/1;
  &.active {
    background-color: v.$blue;
    color: v.$white;
  }
}
.#{$namespace}-pagination-btns-next,
.#{$namespace}-pagination-btns-prev {
  @include v.remove-btn-default;
  margin: 0 0.5em;
  font-size: 1.2em;
  aspect-ratio: unset;
  padding: 0.5em 0.8em;
  height: 100%;
  svg{
    margin:0 5%;
  }
}
.#{$namespace}-pagination-ellipsis {
  height: 100%;
  display: flex;
  color: v.$blue;
  font-size: 1.5em;
  letter-spacing: 0.3em;
  align-items: flex-end;
  align-items: end;
}
