@use "./project" as p;
@use "../../../public/variables" as v;
@use "sass:math";

$namespace: p.$namespace;
@mixin hover-effect {
  transition: transform 0.3s ease-out;
  &:hover {
    transform: scale(1.1);
  }
}
@mixin project-pg-width-sizing($width) {
  .#{$namespace}-project-urls {
    top: math.div(-$width, 2);
  }
  .#{$namespace}-project-url {
    width: $width;
  }
  .#{$namespace}-text-content-inner {
    padding: 0 math.div($width, 2);
    .#{$namespace}-project-header {
      padding-top: math.div($width, 1.5);
    }
    p {
      margin-bottom: math.div($width, 1.5);
    }
  }
}
@mixin project-lg {
  ##{$namespace}-carousel {
    width: 90%;
  }
}
@mixin project-md {
  ##{$namespace}-carousel {
    width: 95%;
  }
  .#{$namespace}-slide-first-row {
    display: flex;
    justify-content: space-between;
    h4 {
      font-size: 110%;
    }
  }
  .#{$namespace}-slide-dates {
    font-size: 80%;
  }
  ##{$namespace}-wave-bg {
    // height: $project-wave-bg-height;
    min-height: 27em;
    max-height: 32em;
  }
  ##{$namespace}-explore-more-header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.7em;
    margin-top: 1.3em;
    margin-bottom: 1.5em;
  }
  ##{$namespace}-explore-more {
    justify-content: center;
    width: 100%;
  }
  .#{$namespace}-project-card {
    width: 100%;
    min-width: 250px;
    margin-bottom: 10%;
    &:nth-last-child(2) {
      margin-bottom: 10%;
    }
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}
@mixin project-sm {
  ##{$namespace}-wave-bg {
    min-height: 25em;
    max-height: 30em;
  }
  ##{$namespace}-inner {
    h2 {
      font-size: 3em;
    }
  }
  ##{$namespace}-carousel {
    width: 100%;
  }
  .#{$namespace}-slide-text-content {
    $padding: 6%;
    padding: $padding;
  }
  .#{$namespace}-slide-first-row {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    h4 {
      font-size: 110%;
    }
  }
  .#{$namespace}-slide-project-urls {
    margin: 5% 0;
  }
  @include project-pg-width-sizing(2em);
  ##{$namespace}-explore-more-header {
    font-size: 2em;
    margin-top: 1.3em;
    margin-bottom: 1.5em;
  }
  .#{$namespace}-text-content-inner {
    height: 100%;
    //max-height: 15em;
    h4 {
      font-size: 1em;
      z-index: 0;
    }
    p {
      color: #d0d0d0;
      font-size: 0.7em;
      line-height: 120%;
    }
  }
  .#{$namespace}-project-header {
    //padding-top: math.div($width, 2);
    position: sticky;
    background-color: v.$light-black;
    padding-bottom: 0.7em;
    top: 0;
    left: 0;
  }
  .#{$namespace}-pagination-ellipsis {
    font-size: 0.8em;
    letter-spacing: 0.2em;
  }
  .#{$namespace}-pagination-btns {
    font-size: 0.7em;
    padding: 0.1em;
  }
  .#{$namespace}-pagination-btns-next,
  .#{$namespace}-pagination-btns-prev {
    margin: 0 0.3em;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
  }
}
@mixin project-hover {
  .#{$namespace}-pagination-btns {
    &:hover {
      background-color: v.$blue;
      color: v.$white;
    }
  }
  .#{$namespace}-project-url {
    @include hover-effect();
  }
}
