@use "./project" as p;
@use "../../../public/variables" as v;
@use "../../utilities/projectItem/projectItem" as project-item;
@use "sass:math";

$namespace: p.$namespace;
@mixin hover-effect {
  transition: transform 0.3s ease-out;
  &:hover {
    transform: scale(1.1);
  }
}
@mixin project-xxl {
  @include p.project-pg;
}
@mixin project-xl {
  @include p.project-pg(
    $project-item-content-horizontal-padding: 2.5rem,
    $project-item-content-width: 45%
  );
}

@mixin project-lg {
  @include p.project-pg(
    $project-wave-bg-height: 40.9rem,
    $project-pg-horizontal-spacing: 1.8rem,
    $project-pg-main-heading-font-size: 5.4rem,
    $project-pg-explore-heading-font-size: 3.2rem,
    $project-pg-explore-heading-vertical-spacing: 3.6rem,
    $project-pg-carousel-height: 32rem,
    $project-pg-carousel-heading-font-size: 1.8rem,
    $project-pg-carousel-text-font-size: 1.3rem,
    $project-pg-carousel-text-vertical-spacing: 0.7rem,
    $project-pg-carousel-pagination-height: 2.1rem,
    $project-pg-carousel-pagination-spacing: 0.8rem,
    $project-pg-carousel-spacing: 4.5rem,
    $project-item-container-vertical-spacing: 5rem,
    $project-item-content-horizontal-padding: 2rem,
    $project-item-content-title-font-size: 1.8rem,
    $project-item-content-description-font-size: 1rem,
    $project-item-description-slim-top-padding: 1.4rem,
    $project-item-description-bottom-padding: 1.625rem,
    $project-item-action-btns-spacing: 1.625rem,
    $project-item-action-btns-font-size: 1.175rem,
    $project-item-container-min-height: 20rem,
    $project-item-container-mobile: "false",
    $project-item-content-width: 45%,
    $project-item-label-font-size: 0.8rem
  );
}
@mixin project-md {
  @include p.project-pg(
    $project-wave-bg-height: 31.275rem,
    $project-pg-horizontal-spacing: 1.35rem,
    $project-pg-main-heading-font-size: 4rem,
    $project-pg-explore-heading-font-size: 2.4rem,
    $project-pg-explore-heading-vertical-spacing: 2.7rem,
    $project-pg-carousel-height: 24rem,
    $project-pg-carousel-heading-font-size: 1.35rem,
    $project-pg-carousel-text-font-size: 1rem,
    $project-pg-carousel-text-vertical-spacing: 0.525rem,
    $project-pg-carousel-pagination-height: 1.575rem,
    $project-pg-carousel-pagination-spacing: 0.6rem,
    $project-pg-carousel-spacing: 3.6rem,
    $project-item-container-vertical-spacing: 3.75rem,
    $project-item-content-horizontal-padding: 2rem,
    $project-item-content-title-font-size: 1.35rem,
    $project-item-content-description-font-size: 1rem,
    $project-item-description-slim-top-padding: 1rem,
    $project-item-description-bottom-padding: 1.2rem,
    $project-item-action-btns-spacing: 1rem,
    $project-item-action-btns-font-size: 1rem,
    $project-item-container-min-height: 15rem,
    $project-item-container-mobile: "false",
    $project-item-content-width: 45%,
    $project-item-label-font-size: 0.75rem
  );
}
@mixin project-sm {
  @include p.project-pg(
    $project-wave-bg-height: 25rem,
    $project-pg-horizontal-spacing: 1rem,
    $project-pg-main-heading-font-size: 3rem,
    $project-pg-explore-heading-font-size: 3rem,
    $project-pg-explore-heading-vertical-spacing: 4rem,
    $project-pg-carousel-height: 18rem,
    $project-pg-carousel-heading-font-size: 1rem,
    $project-pg-carousel-text-font-size: 0.875rem,
    $project-pg-carousel-text-vertical-spacing: 0.5rem,
    $project-pg-carousel-pagination-height: 1.375rem,
    $project-pg-carousel-pagination-spacing: 0.4rem,
    $project-pg-carousel-spacing: 2rem,
    $project-item-container-vertical-spacing: 3.75rem,
    $project-item-content-horizontal-padding: 0rem,
    $project-item-content-title-font-size: 1.75rem,
    $project-item-content-description-font-size: 1rem,
    $project-item-description-slim-top-padding: 0,
    $project-item-description-bottom-padding: 2.25rem,
    $project-item-action-btns-spacing: 1rem,
    $project-item-action-btns-font-size: 1rem,
    $project-item-container-min-height: 0rem,
    $project-item-container-mobile: "true",
    $project-item-content-width: 100%,
    $project-item-label-font-size: 0.8rem
  );
  ##{$namespace}-explore-more {
    .#{project-item.$namespace}-img {
      margin-top: 1.7rem;
      margin-bottom: 0.7rem;
    }
    .#{$namespace}-slide-text-content {
      background: linear-gradient(
        180deg,
        rgba(80, 80, 80, 0) 0%,
        rgb(30, 30, 30) 100%
      );
    }
    .#{project-item.$namespace}-labels {
      margin-bottom: 0.5rem;
    }
  }
}
@mixin project-hover {
  .#{$namespace}-pagination-btns {
    &:hover {
      background-color: v.$blue;
      color: v.$white;
    }
  }
  .#{$namespace}-project-url {
    @include hover-effect();
  }
  .#{project-item.$namespace}-project-url {
    @include v.hover-action($scale:1.1);
  }
}
