@use "../../../public/variables" as v;
@use "../../utilities/projectItem/projectItem" as projectItem;
@use "sass:math";
$namespace: "project-pg";
$project-bg-height: 100vh;
$project-wave-bg-height: 52.125rem;
$project-pg-horizontal-spacing: 2.25rem;
$project-pg-main-heading-font-size: 6.75rem;
$project-pg-explore-heading-font-size: 4rem;
$project-pg-explore-heading-vertical-spacing: 4.5rem;
$project-pg-carousel-height: 40rem;
$project-pg-carousel-nav-btn-size: 2.5rem;
$project-pg-carousel-heading-font-size: 2.25rem;
$project-pg-carousel-text-font-size: 1.625rem;
$project-pg-carousel-text-vertical-spacing: 0.875rem;
$project-pg-carousel-pagination-height: 2.625rem;
$project-pg-carousel-pagination-spacing: 1rem;
$project-pg-carousel-spacing: 4.5rem;
$project-item-container-vertical-spacing: 6.25rem;
$project-item-content-horizontal-padding: 3rem;
$project-item-content-title-font-size: 2.25rem;
$project-item-content-description-font-size: 1.125rem;
$project-item-description-slim-top-padding: 1.75rem;
$project-item-description-bottom-padding: 1.625rem;
$project-item-action-btns-spacing: 1.625rem;
$project-item-action-btns-font-size: 1.375rem;
$project-item-container-min-height: 25rem;
$project-item-container-mobile: "false";
$project-item-content-width: 35%;
##{$namespace} {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  padding-left: $project-pg-horizontal-spacing;
  padding-right: $project-pg-horizontal-spacing;
  padding-bottom: $project-pg-horizontal-spacing * 2;
}
##{$namespace}-wave-bg {
  height: $project-wave-bg-height;
  #wave-bg-rotate-wave-project-wave {
    background: v.$light-red;
  }
}
##{$namespace}-inner {
  padding: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  align-items: start;
  h2 {
    @include v.sub-heading($project-pg-main-heading-font-size, $bold: "true");
    padding: 0.925em 0;
    justify-content: center;
    text-transform: uppercase;
    color: v.$white;
  }
}

##{$namespace}-carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  .#{$namespace}-carousel-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .#{$namespace}-carousel-inner-wrapper {
    height: 100%;
    width: 100%;
    padding-bottom: $project-pg-carousel-pagination-height +
      $project-pg-carousel-spacing;
  }
  .swiper-wrapper {
    padding: 0;
    margin: 0;
  }
  .swiper-slide {
    border: none;
    margin: 0;
    padding: 0;
    height: $project-pg-carousel-height;
  }
  .swiper-pagination {
    bottom: 0;
    height: auto;
  }
  .swiper-pagination-bullet {
    border-color: v.$gray;
    border-style: solid;
    border-width: $project-pg-carousel-pagination-height * 0.08;
    width: $project-pg-carousel-pagination-height;
    height: $project-pg-carousel-pagination-height;
    margin: 0 $project-pg-carousel-pagination-spacing;
    aspect-ratio: 1/1;
    opacity: 1;
    background: transparent;
  }
  .swiper-pagination-bullet-active {
    background-color: v.$gray;
  }
  .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.78);
  }
  .swiper-pagination-bullet-active-prev {
    transform: scale(0.78);
  }
  .swiper-pagination-bullet-active-next {
    transform: scale(0.78);
  }
  .swiper-pagination-bullet-active-next-next {
    transform: scale(0.78);
  }
}
.#{$namespace}-slide {
  position: relative;
  color: v.$off-white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.#{$namespace}-slide-inner {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 100%;
  width: 100%;
}

.#{$namespace}-slide-img-container {
  @include v.abs-pos-fill(1);
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0.5%;
    width: 100% - 1%;
    height: 100%;
    background-color: v.$dark-black;
    z-index: 0;
  }
}

.#{$namespace}-slide-text-content {
  box-sizing: border-box;
  position: relative;
  padding: 2% 3%;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  align-items: center;

  background: linear-gradient(
    180deg,
    rgba(80, 80, 80, 0) 0%,
    rgba(80, 80, 80, 0) 35%,
    rgb(30, 30, 30) 100%
  );
}
.#{$namespace}-slide-first-row {
  display: flex;
  width: 100%;
  margin-bottom: 0.02em;
  box-sizing: border-box;
}
.#{$namespace}-slide-first-row {
  h4 {
    @include v.sub-heading($project-pg-carousel-heading-font-size);
    width: auto;
    font-size: $project-pg-carousel-heading-font-size;
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
}
.#{$namespace}-slide-project-urls {
  display: flex;
  width: auto;
  margin-left: 3%;
  box-sizing: border-box;
}
.#{$namespace}-project-url {
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: $project-pg-carousel-heading-font-size;
  height: 1.625em;
  width: 1.625em;
  background-color: v.$off-black;
  aspect-ratio: 1/1;
  color: v.$black;
  &:last-child {
    background-color: v.$light-red;
    & > svg {
      fill: v.$off-white;
    }
    color: v.$off-white;
    margin-left: 0.3em;
  }
  & > svg {
    position: relative;
    z-index: 1;
    height: 60%;
    width: auto;
  }
}
.#{$namespace}-slide-dates {
  @include v.sub-heading($project-pg-carousel-text-font-size);
  padding-top: $project-pg-carousel-text-vertical-spacing;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: v.$gray;
  text-align: center;
}

.#{$namespace}-explore-more-header {
  @include v.section-heading($project-pg-explore-heading-font-size);
  width: auto;
  color: v.$light-red;
  margin-top: $project-pg-explore-heading-vertical-spacing;
  margin-bottom: $project-pg-explore-heading-vertical-spacing;
}
##{$namespace}-explore-more {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include projectItem.project-item(
    $project-item-content-horizontal-padding,
    $project-item-content-title-font-size,
    $project-item-content-description-font-size,
    $project-item-description-slim-top-padding,
    $project-item-description-bottom-padding,
    $project-item-action-btns-spacing,
    $project-item-action-btns-font-size,
    $project-item-container-min-height,
    $project-item-container-mobile,
    $project-item-content-width
  );
  & > * {
    margin-bottom: $project-item-container-vertical-spacing;
    &:last-child {
      margin-bottom: 0;
    }
  }
}